.row
  .col-md-9.col-md-offset-1.col-sm-6
    = form_for @talent, class: "reg-page", url: {:action => var_action} do |f|
      .reg-header
        %h2 Register as Talent
      / company profile
      .panel.panel-green.margin-bottom-40
        .panel-heading
          %h3.panel-title talent profile
        .panel-body
          .form-group.margin-bottom-20
            %label company name *
            = f.text_field :company_name, class: 'form-control required', placeholder: 'company name'
          .form-group.margin-bottom-20
            %label firstname *
            = f.text_field :firstname, class: 'form-control required', placeholder: 'firstname'
          .form-group.margin-bottom-20
            %label lastname *
            = f.text_field :lastname, class: 'form-control required', placeholder: 'lastname'
          .form-group.margin-bottom-20
            %label age
            = f.number_field :age, class: 'form-control', placeholder: 'age'
          .form-group.form-inline
            %label height(cm)
            = f.number_field :height_cm, class: 'form-control', placeholder: 'cm'
          .form-group.margin-bottom-20
            %label gender
            = f.select :sex, Talent.sexes.keys, class: 'form-control'
          .form-group.margin-bottom-20
            %label main image *
            = f.file_field :mainimage, class: 'form-control required'
      .row
        .form-group
          = f.label :file, class:'col-lg-2 control-label'
          .col-lg-10
            %ul
              = f.fields_for :photos do |photo_form|
                %li
                  = render partial: 'shared/photo', locals: {f: photo_form}
      .row
        .col-md-6
          .actions
            = f.submit "regist", class: "btn btn-large btn-primary", data: {disable_with: '処理中です'}
            %hr

:javascript
  $(function(){
  	$(".new_casting").validate({
  		rules: {
  			agree: "required",
  			website: "required"
  		}
  	});
  });
