= link_to 'back', :back, class: 'btn btn-default'

#contents
  .page-header
    .row
      %h1
        = @talent.name
        - if user_signed_in? && current_user.projects.exists?
          = link_to 'add my favorite', new_favorites_path(@talent), class: 'btn btn-info'
          = link_to 'ask/offer', new_talent_offer_path(@talent), class: 'btn btn-info'
  .row
    .col-md-3
      .row
        = image_tag @talent.mainimage.url(:large), alt: @talent.name
      .row
        %table.table
          %tbody
            %tr
              %td
                %h4 age
              %td
                %h4= @talent.age
            %tr
              %td
                %h4 gender
              %td
                %h4= @talent.sex
    .col-md-8.col-md-offset-1
      .page-header
        %h3= link_to 'My Favorite', favorites_path
        %table.table
          %tbody
            - @myfavorites.each do |favorite|
              %tr
                %td
                  %h4= favorite.project.try(:name)
                %td
                  %h4= favorite.try(:memo)
      .page-header
        %h3 Photos
      - @talent.photos.each do |photo|
        %a{"data-toggle" => "lightbox", :href => "#demoLightbox"}
        = image_tag photo.image.url(:thumb), size: "97x141"
      #demoLightbox.lightbox.hide.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
        .lightbox-content
          %img{:src => ""}/
          .lightbox-caption
            %p Your caption here
