= link_to 'back', :back, class: 'btn btn-default'

.col-md-7
  %h2 Add Favorite
  .row
    %h4
      Which the project do you add favorite to?
  .row

    = form_for @favorite do |f|

      = hidden_field :favorite, :talent_id
      %h3
        select project

      .radio
        %label
          %input{ type: 'radio', name: 'favorite[project_id]', value: nil, checked: true }
          選択しない
      - @selectable_projects.each_with_index do |project, index|
        .radio
          %label
            %input{ type: 'radio', name: 'favorite[project_id]', value: project.id }
            = project.name
        %label
          %input{ type: 'radio', name: 'favorite[project_id]', value: -1 }
          プロジェクト名入力

      %h3
        project name

      = f.text_field :memo, class: 'form-control'

      %h3
        memo

      = f.text_area :memo, class: 'form-control'

      %button.btn.btn-lg.btn-primary{ type: 'submit' } save

