-#= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f|

= form_tag user_session_path, class: 'form-signin' do
  %h2.form-signin-heading Please Sign In
  %input{ type: 'email', name: 'user[email]', class: 'form-control', placeholder: 'Email Address' }
  %input{ type: 'password', name: 'user[password]', class: 'form-control', placeholder: 'Password' }
  .checkbox
    %label
      %input{ type: 'hidden', name: 'user[remember_me]', value: '0' }
      %input{ type: 'checkbox', name: 'user[remember_me]', value: '1' } Remember me
  %button.btn.btn-lg.btn-primary.btn-block{ type: 'submit' } Sign In
  = render "users/shared/links"

-#
  .form-inputs
    = f.input :email, required: false, autofocus: true
    = f.input :password, required: false
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, "Sign in"

