<div class="col-md-10">
	<table class="table table-striped">
		<thead>
			<th>#</th>
			<th>name</th>
			<th>start date</th>
			<th>end date</th>
			<th></th>
		</thead>
		<tbody>
			<% @projects.each do |project| %>
				<tr>
					<td><%= project.id %></td>
				  <td><%= project.name %></td>
				  <td><%= project.start_date %></td>
				  <td><%= project.end_date %></td>
					<td>
					  <%= link_to 'edit', edit_project_path(project), class: 'btn btn-default' %>
					  <%= link_to 'delete', project_path(project), class: 'btn btn-default', method: :delete, data: { confirm: 'delete is OK ?' } %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>