.col-md-12
  %table.table.table-striped
    %thead
      %th #
      %th name
      %th description
      %th other
      %th start date
      %th end date
      %th
    %tbody
      - @projects.each do |project|
        %tr
          %td= project.id
          %td= project.name
          %td= project.description
          %td= project.other
          %td= project.start_date.strftime("%Y-%m-%d")
          %td= project.end_date.strftime("%Y-%m-%d")
          %td
            = link_to 'edit', edit_project_path(project), class: 'btn btn-default'
            = link_to 'delete', project_path(project), class: 'btn btn-default', method: :delete, data: { confirm: 'delete is OK ?' }
